.box {
  height: 687px;
  width: 731px;
}

.box .log-in-form {
  height: 687px;
  left: 30%;
  position: fixed;
  top: 15%;
  width: 741px;
}

.box .overlap-group {
  background-color: #a3a3a370;
  border-radius: 10px;
  height: 687px;
  position: relative;
  width: 731px;
}

.box .container {
  background-color: #d9d9d9;
  border-radius: 10px;
  height: 672px;
  left: 11px;
  position: absolute;
  top: 8px;
  width: 711px;
}

.box .signin-title {
  color: #078c9e;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 91px;
  left: 134px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 213px;
}

.box .signup-title {
  color: #078c9e;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 48px;
  font-weight: 400;
  height: 91px;
  left: 394px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 64px;
  width: 213px;
}

.box .separator {
  height: 166px;
  left: 364px;
  background-color: #949494;
  object-fit: cover;
  position: absolute;
  top: 26px;
  width: 2px;
}

.box .username-title {
  color: #078c9e;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 248px;
  width: 217px;
}

.box .username-input {
  background-color: #949494;
  font-size: 30px;
  border-radius: 10px;
  border: none;
  height: 87px;
  left: 94px;
  position: absolute;
  top: 285px;
  width: 545px;
}

.box .password-title {
  color: #078c9e;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 24px;
  font-weight: 400;
  height: 32px;
  left: 103px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 410px;
  width: 217px;
}

.box .password-input {
  background-color: #949494;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  height: 87px;
  left: 94px;
  position: absolute;
  top: 448px;
  width: 545px;
}

.box .login-button {
  background-color: #078c9e;
  border-radius: 10px;
  height: 73px;
  font-size: 20px;
  border: none;
  left: 145px;
  position: absolute;
  top: 573px;
  width: 190px;
}

.box .forgot-password {
  color: #949494;
  background-color: transparent;
  font-family: "Inter-Regular", Helvetica;
  font-size: 20px;
  font-weight: 400;
  height: 22px;
  left: 394px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 578px;
  white-space: nowrap;
  width: 238px;
  cursor: default;
}

.box .forgot-password:hover {
  color: #078c9e; 
  cursor: pointer; 
}